:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid;
  font-family: inherit;
  background-color: #56e677;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 5px;
  height: 30px;
  padding-inline: 40px;
} 
button:hover {
  border-color: #ceeb11;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.to-do-list {
  padding: 20px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 50px;
}

ol {
 padding-inline: 20px;
}

li {
  display: flex;
  align-items: center;
  border: 3px solid #f7f7f4;
  margin-bottom: 10px;
  background-color: rgb(248, 247, 245);
  padding: 10px;
}

.text{
  flex: 1;
  color: black;
}

.delete-button {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}
.move-button {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  padding: 0;
}

input { 
  width: 280px;
  height: 25px; 
}